

<div class="content">
    <h1>Stage management</h1>
    <p>Base layout of tools for creating Events etc</p>

    <h2>Event List</h2>
    <table class='table tony-striped'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Local time</th>
            <th>Status</th>
            <th>Players</th>
        </tr>
    </thead>
    <tbody>
        <% @events.each do |e| %>
        <tr class='event_row'>
            <td><%= link_to e.title, stage_event_path(e.id) %></td>
            <td><%= full_datetime_with_year(e.created_at) %></td>
            <td>GOOD <a target="_blank" href='<%=event_url(e)%>'><span class="glyphicon glyphicon-play"></span></a></td>
            <td>TBC</td>
        </tr>
    <% end %>
    </tbody>

    </table>
