<div class='content player'>
<h1>Player View!</h1>
<h2>The Demon's Mood Is...</h2>
<p class='demon_mood'><%= @player.event.demon_mood %></p>


    <div class='vuebox'>
    <div id='vue'>
        <app-team></app-team> <!-- Toplevel app component - contains router-view inside it -->
    </div>
    </div>
</div>


<%= javascript_include_tag "vueapp_players" %>