<div class='content player'>
    <h1>Player View!</h1>
    <h2>The Demon's Mood Is...</h2>
    <p class='demon_mood'><%= @player.event.demon_mood %></p>




    <div class='vuebox' id='app'>
        <p><feed-button></feed-button></p>
    </div>

</div>


