@import "bootstrap-sprockets";
@import "bootstrap";

html,body {
    height: 100%;
    background-color: #44425f

}

.content {
	border-radius:12px;
    background-color: #ebedff;
    margin: 2em;
    min-height: 100%;
    padding: 2em;
    font-family: arial;
}

.player, .event {
    text-align: center;

    .demon_mood {
        font-size: 60pt;
        color: red;
    }
}

.vuebox {
    border: 1px dashed;
    height: 400px;
    margin-right: 2em;
    margin-left: 2em;
}

button {
    border: 2px solid rebeccapurple;
    background-color: #dee1f7;
    font-weight: bold;
    padding: 1em;
}


button:disabled {
    border: 2px solid #d0cad6;
    background-color: #dee1f7;
    font-weight: bold;
    padding: .5em;
    color: #d0cad6;
}