@import "bootstrap-sprockets";
@import "bootstrap";

html,body {
    height: 100%;
    background-color: #44425f

}

.content {
    background-color: #ebedff;
    margin: 2em;
    min-height: 100%;
    padding: 2em;
    font-family: arial;
}

.player {
    text-align: center;

    .demon_mood {
        font-size: 60pt;
        color: red;
    }

    .vuebox {
        border: 1px dashed;
        height: 400px;
        margin-right: 2em;
        margin-left: 2em;
    }
}