@import "bootstrap-sprockets";
@import "bootstrap";

html,body {
    height: 100%;
    background-color: #44425f

}

.content {
    background-color: #ebedff;
    margin: 2em;
    min-height: 100%;
    padding: 2em;
    font-family: arial;
}